body {
   background: url("../images/question-mark-background.jpg");
   align-items: center;

}

#bodybox {

width: 700px;
height: 700px;
background: lightyellow;
margin: 20px;
opacity: .9;
text-align: center;
box-align: center;

}

